<div class="page-header{% if page_header_classes %} {{ page_header_classes }}{% endif %}">
    <div class="d-flex justify-content-between align-items-center{% if page_header_inner_classes %} {{ page_header_inner_classes }}{% endif %}">
        <div>
            <h3 class="mb-0">{{ page_title }}</h3>
            {% if page_subtitle %}
            <small class="text-muted">{{ page_subtitle }}</small>
            {% endif %}
        </div>
        {% if header_actions_template %}
        <div{% if header_actions_classes %} class="{{ header_actions_classes }}"{% endif %}>
            {% include header_actions_template %}
        </div>
        {% elif back_url and back_text %}
        <div>
            <a href="{{ back_url }}" class="btn btn-default">{{ back_text }}</a>
        </div>
        {% endif %}
    </div>
</div>
