<div class="page-header{% if page_header_classes %} {{ page_header_classes }}{% endif %}">
    <div class="page-header__inner{% if page_header_inner_classes %} {{ page_header_inner_classes }}{% endif %}">
        <div class="page-header__copy">
            <h3 class="page-header__title{% if page_title_classes %} {{ page_title_classes }}{% endif %}">{{ page_title }}</h3>
            {% if page_subtitle %}
            <small class="page-header__subtitle{% if page_subtitle_classes %} {{ page_subtitle_classes }}{% endif %}">{{ page_subtitle }}</small>
            {% endif %}
        </div>
        {% if header_actions_template %}
        <div class="page-header__actions{% if header_actions_classes %} {{ header_actions_classes }}{% endif %}">
            {% include header_actions_template %}
        </div>
        {% elif back_url and back_text %}
        <div class="page-header__actions">
            <a href="{{ back_url }}" class="btn btn-default">{{ back_text }}</a>
        </div>
        {% endif %}
    </div>
</div>
